@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

img{
    display:block;
    max-width: 100%;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

body{
    font-family:'Encode Sans', sans-serif;
}

.container{
    width:1250px;
    margin:auto;
}

/* Header area */

#logo{
    margin:22px auto 0;
}

#g1{
    color:#C3170C;
}

#globo{
    color:#1E4B9B;
}

#valor{
    color:#006766;
}

#ge{
    color:#07AA47;
}

#cartola{
    color:#E3662B;
}

#globoplay{
    color:#FB0735;
}

#dropz{
    color:#FF75BB;
}

#gshow{
    color:#EC7D00;
}

#quem{
    color: #323333;
}

#receitas{
    color:#A81D83;
}

#menu-ul{
    display:flex;
    justify-content: space-between;
    margin:22px 0 39px;
    border-top:1px solid #F5F6F7;
    border-bottom:1px solid #F5F6F7;
    padding:15px 0;
}

#menu-ul a{
    font-weight: 700;
}

/* Main section area */

#main{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#main-section{
    margin-right:36px;
}

#main-section__title{
    font-weight: 700;
    font-size:52px;
    color:#C4160C;
    width:624px;
    margin-bottom:29px;
}

.main-section__paragraph{
    color:#303134;
    font-size:18px;
    font-weight: 500;
}

.flex-area{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.main-section-notice{
    width:192px;
    margin-top:62px;
}

.main-section-notice img{
    width:193px;
    border-radius:12px;
}

.main-section-notice h3{
    color:#2F3134;
    font-weight: 700;
    font-size:20px;
    margin-bottom: 15px;
}

.main-section-notice__title{
    color:#C4170C;
    font-weight: 500;
    font-size:14px;
    padding:11px 0 8px;
}

.main-section-notice__desc{
    font-weight: 400;
    font-size:14px;
    color:#2F3134;
}

/* Section Notice */

.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.column:nth-child(1){
    padding-right:36px;
}

.column:nth-child(2){
    padding-left:36px;
    border-left:1px solid #EBEDEF;
}

.green{
    color:#16AE54;
}

.orange{
    color:#EC8006;
}

.notices-section{
    border-left:1px solid #EBEDEF;
    padding-left:36px;
}

.notice-card img{
    min-width:240px;
    border-radius:12px; 
}

.notice-card__img{
    margin-top:50px;
}

.notice-card__summary{
    font-size:14px;
    font-weight: 500;
    margin-top:11px;
    margin-bottom:6px;
}

.notice-card__title{
    font-weight: 700;
    font-size:20px;
    color:#2F3134;
    margin-bottom:12px;
}

.notice-card__desc{
    font-size:14px;
    font-weight: 400;
    color:#2F3134;
}